@font-face {
  font-family: quicksand;
  src: url("/assets/fonts/Quicksand-Regular.ttf");
}

body {
  text-align: center;
  background-image: url("/assets/bg.png");
}

#rw-primary {
    width:300px;
    height:300px;
    position:absolute;
    left:47.5%;
    top:30%;
    margin:-150px 0 0 -150px;
}


.btn-distributable {
  position: absolute;
}

.debug-red { background-color: red; }
.debug-blue { background-color: blue; }
.debug-green { background-color: green; }
.debug-yellow { background-color: yellow; }

.navbar-nav li{
  margin-left: 10px;
  margin-right: 10px;
}

#rw-background {
  /* Make Div the size of the screen. */
  position: fixed;
  overflow: auto;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-image: url("/assets/bg.png");
  /*
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  background-image: url(/assets/Bg5.jpg);*/
}


.home-link {
  max-width: 200px;
  min-width: 160px;
  opacity: .75;
}
.home-link:hover {
  opacity: 1.0;
}

.rw-subtle-shadow {
  box-shadow: 1px 2px 5px rgba(20,20,20,.25);
}