@font-face {
  font-family: quicksand;
  src: url("/assets/fonts/Quicksand-Regular.ttf");
}

body {
  text-align: center;
  background-image: url("/assets/bg.png");
}

#rw-logo {
  display: inline-block;
  position: relative;
  height:300px;
}

#rw-about {
  height:0px;
  text-align: center;
  overflow: hidden;
}

#rw-links {
  height:0px;
  text-align: left;
  overflow: hidden;
  display: none;
}

#rw-links p {
  font-family: quicksand;
  font-size: 13px;
  margin-right: 90px;
  margin-left: 5px;
}

#rw-primary {
    width:300px;
    height:300px;
    position:absolute;
    left:47.5%;
    top:40%;
    margin:-150px 0 0 -150px;
}

#rw-avatar-main {
  border-radius: 200px;
  max-height: 300px;
}

@media (max-width:500px)
{
  #rw-primary {
    width:300px;
    height:300px;
    position:absolute;
    left:43%;
    top:40%;
    margin:-150px 0 0 -150px;
  }
}

.rw-start-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear
}

.btn-distributable {
  position: absolute;
}

.debug-red { background-color: red; }
.debug-blue { background-color: blue; }
.debug-green { background-color: green; }
.debug-yellow { background-color: yellow; }

.btn-circle {
  color:#fff;
  text-align: center;
  
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;

  padding: 10px 16px;
  font-size: 24px;
  line-height: 2;
  border-radius: 35px;
}

.btn-radial-internal {
  position: absolute;
}

/*=============================== [ Non-landing css ] ===============================*/


.navbox {
  border-radius:20px;
  max-width: 200px;
  min-width: 160px;
  opacity: .75;
}
.navbox:hover {
  opacity: 1.0;
}

/* A box for media downloads and content. Wraps automatically! */
.linkBox{
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  min-width: 160px;
  min-height: 160px;
  
}

#rw-backgrogundlk-overlay {
  padding-top: 20px;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  height: 100vh;

  background-image: url('/assets/bg_mask.png');
  z-index: 1;
}

#backgroundScrollable{
  /* Make Div the size of the screen. */
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-link {
  text-decoration: none;
  display: inline-block;
}

#linkArea {
  text-align: center;
  padding-top: 32px;
  margin: 0 auto;
}

/*--------------------------------------------------------------------------------------------
/* Space out content a bit */
.btn-circle {
  color:#fff;
  text-align: center;
  
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 1.7;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;

  padding: 10px 16px;
  font-size: 24px;
  line-height: 2;
  border-radius: 35px;
}

.manual-center {
  width: 250px;
  margin-left: auto;
  margin-right: auto;

}
/* The avatar on the about page needs to float to the right of the text. */

.rw-avatar {
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  border-style: solid;
}


.page-links {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.rw-about-avatar {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:1199px)
{
  .page-links {
    width: 104px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:991px)
{
  .page-links {
    width: 320px;
    margin-left: auto;
    margin-right: auto ;
  }

  .rw-about-avatar {
    max-width: 70%;
  }

}
.vertical-fix {
  margin-top: 10px;
}

.navbar-nav li{
  margin-left: 10px;
  margin-right: 10px;
}


.rw-site {
  width: 375px;
  height: 600px;
}

@media (max-width:768px){
  .rw-site {
    width: 100%;
  }
  .avatar {
    width: 50%;
  }
}
@media (max-width:991px) {
  .avatar {
    max-width: 200px;
  }
}
/* New content *.

/* Space out content a bit */

.rw-select-disable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-circle {
  color:#fff;
  text-align: center;
  
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 1.7;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;

  padding: 10px 16px;
  font-size: 24px;
  line-height: 2;
  border-radius: 35px;
}

.navbar-nav li{
  margin-left: 10px;
  margin-right: 10px;
}

#rw-background {
  /* Make Div the size of the screen. */
  position: fixed;
  overflow: auto;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-image: url("/assets/bg.png");
  /*
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  background-image: url(/assets/Bg5.jpg);*/
}


.home-link {
  max-width: 200px;
  min-width: 160px;
  opacity: .75;
}
.home-link:hover {
  opacity: 1.0;
}

.rw-subtle-shadow {
  box-shadow: 1px 2px 5px rgba(20,20,20,.25);
}